
@import url('../assets/gotham/stylesheet.css');

html, body { font-family: 'Gotham-book'; }

#header .heading { color: #001f5a; font-family: 'Gotham-black'; bottom: -10px; letter-spacing: -1px; font-size: 18px; }
#header li { font-family: 'Gotham-book'; font-size: 13px; font-weight: bold; list-style-image: url('../img/icon-check.jpg'); }

#main h1 { font-size: 42px; }

.bg-content { background-image: url('../img/bg-content.jpg'); background-repeat: no-repeat; background-size: cover; background-position: top center; }
.main-content {  }
.main-content h1 { margin-bottom: 0; }
.main-content h3 { font-family: 'Gotham-medium'; font-size: 30px; }

.frm-content p { max-width: 535px; }

form label { font-family: 'Gotham-medium'; font-size: 18px; }
form .form-control { height: 66px; border-radius: 35px; border: none; max-width: 535px; }
form #dd.form-control { background: url('../img/arrow.png') no-repeat right #fff; -webkit-appearance: none; background-position-x: 490px; }

/* enable absolute positioning */
.inner-addon { position: relative; }

/* style glyph */
.inner-addon .glyphicon { position: absolute; margin: 18px; pointer-events: none; background-color: #d68d00; height: 30px; width: 30px; border-radius: 50%; text-align: center; font-style: normal; line-height: 30px; }
#frm-popup .inner-addon .form-control { height: auto;  }
#frm-popup .inner-addon .glyphicon { margin: 0 18px;  }
	#frm-popup .checkboxes label { font-family: 'Gotham-book'; font-size: 16px; color: #000; }
	.checkboxes { margin: 0 20px; font-family: 'Gotham-book'; }
	
	.modal-cls { width: 100%; max-width: 650px; }
	.modal-cls .btn { background-color: #02377b; height: 60px; font-family: 'Gotham-medium'; border-radius: 30px; padding: 0 30px; }

/* align glyph */
.left-addon .glyphicon { left: 0px; font-weight: bold; }

/* add padding  */
.left-addon .form-control { padding-left: 60px; }

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: 0 0 0.5rem 0.3rem rgba(255,255,255,.3);
}

/* select - dropdown */
.wrapper-dropdown-3 > span { line-height: 56px; }
.wrapper-dropdown-3 {
    cursor: pointer;
    outline: none;
}

.wrapper-dropdown-3 .dropdown li a { height: 0px; font-size: 13px; color: #5a5d60; }
.wrapper-dropdown-3 .dropdown li { height: 0px; }
.wrapper-dropdown-3 .dropdown {
  /* Size & position */
	max-width: 535px;
    position: absolute;
    top: 115%;
    left: 0;
    right: 0;
	height: 0px;

    /* Styles */
	padding: 15px 20px;
    background: white;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    /* transition: all 0.5s ease-in; */
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
	z-index: 1;
}

.wrapper-dropdown-3 .dropdown li:last-child a { border: none; }
.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
	font-family: 'Gotham-medium';
    border-bottom: 1px solid #e6e8ea;
    /* box-shadow: inset 0 1px 0 rgba(255,255,255,1); */
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
}
/*
.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border-radius: 0 0 7px 7px;
    border: none;
}*/

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background: #bcd3e3;
	color: #000;
}

.wrapper-dropdown-3.active .dropdown li a { height: auto; }
.wrapper-dropdown-3.active .dropdown li { height: auto; }
.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
	height: auto;
	transition: all 0.5s ease-in;
}

/* client reviews */
.clients .media-body span:nth-child(1) { font-family: 'Gotham-medium'; font-size: 12px; margin-right: 20px; }
.clients .media-body .client-details { max-width: 330px; width: 100%; font-family: 'Gotham-book-italic'; font-size: 11px; }
.client { margin: 0; }
.client-img { max-width: 100px; width: 100%; margin-right: 15px; }
.client-name { font-family: 'Gotham-medium'; font-size: 13px; }
.client-addr { font-family: 'Gotham-medium'; font-size: 11px; color: #dadada; }
.read-review { font-family: 'Gotham-book'; font-size: 10px; color: #fbd243; font-weight: bold; }
.read-review a { text-decoration: none; color: #fbd243; }

#footer h6 { font-size: 12px; color: #001f5a; font-family: 'Gotham-black'; }
#footer .copyright { font-size: 12px; }
#footer .text-center, #footer .text-center a { color: #929ba4; text-decoration: none; }
.footer-menu { font-family: 'Gotham-medium'; }
.footer-menu span { margin: 0 20px; }